{#
/**
 * @ingroup themeable
 */
#}

<ul>
  {% for keyword, num in stats %}
    <li>
      <a href="{{ path }}?{{ param_name }}={{ keyword }}">
        {{ keyword }} 
        {% if not hide_search_count %}
          ({{ num }})
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>